body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.app {
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

#chatBox {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
  background: #222;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 90%;
}

button {
  background: pink;
  border: none;
  cursor: pointer;
}